// reset

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}
html,
body {
  position: relative;
  // height: 100%;
  min-width: 375px;

  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }
}
body {
  line-height: 1;
  width: 100%;
  // height: 100%;
  background-repeat: no-repeat;
}
main {
  width: 100%;
  height: 100%;
}
menu,
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  padding: 0;
  margin: 0;
}

// reset

html,
body,
#root{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

#root.fixed{
  overflow: hidden;
}

#root,
.page-wrap {
  width: 100%;
  height: 100%;

  @media (max-width: 767px) {
    height: auto;
  }
}
.page-wrap {
  margin: 0 auto;
  // max-width: 1920px;
  max-width: 1280px;
  // height: 100vh;
}
.wrapper.dark {
  background: #232323;
}
.wrapper.light {
  background: linear-gradient(
    131deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.main {
  padding-top: 80px !important;
}

.news {
  .show + div .show {
    justify-content: center;
    align-items: center;
  }
}

.swiper {
  height: 100%;

  &.loading {
    .swiper-slide {
        .info__wrap {
          div:first-child {
            animation: none;
            opacity: 1;
          }
    
          div:last-child {
            animation: none;
            opacity: 1;
          }
        }
      }
  }
}
.swiper-wrapper {
}
.swiper-slide {
  display: flex;
  width: 80%;
  // height: 90%;
  .show {
    height: auto;
    box-shadow: none;
  }
  .show a {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .show img {
    object-fit: cover;
  }

  .info__wrap {
    div {
      transform: translateY(0);
      opacity: 0;
    }
  }



  &.swiper-slide-active {
    .info__wrap {
      div:first-child {
          animation-name: hover;
          animation-duration: 1.4s;
          animation-delay: .2s;
          animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          animation-fill-mode: forwards;
        }
      
        div:last-child {
          animation-name: hover;
          animation-duration: 1s;
          animation-delay: .4s;
          animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          animation-fill-mode: forwards;
        }
    }
  }
}

@keyframes hover {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-16px);
      opacity: 1;
  }
}
@media (max-width : 1023px) and (min-width : 768px) {
  .profile {
    flex: 1 !important;
  }
  
  .skills {
    flex: auto !important;
  }
}
@media (max-width: 767px) {
  .navigator {
    .hamberger {
      display: block !important;
    }
    
  }
  .profile .app_use_info + div {
    height: 200px;
  }
  .news {
    flex-direction: column !important;

    .swiper {
      width: 100%;
    }
    .swiper-slide {
      width: 100%;
    }

    button {
      padding: 1rem 0;
      font-weight: 700;
    }
    button svg {
      display: none;
    }
    .category {
      padding: 6px 0 12px;
      flex-wrap: nowrap;
      overflow-x: scroll;

      // &::-webkit-scrollbar {
      //   width: 0px;
      // }
    
      // &::-webkit-scrollbar-thumb {
      //   background-color: #555;
      //   border-radius: 10px;
      // }
    
      // &::-webkit-scrollbar-track {
      //   background-color: grey;
      //   border-radius: 10px;
      //   box-shadow: inset 0px 0px 1px white;
      // }
    }
  }
  .app_area h1 + div{
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;

    >div {
      width: 95px;
      height: 95px;
    }
  }
  .page-wrap {
    height: auto;
  }
  .deep2 {
    flex-direction: column;
  }
  .deep2 .career .show .show:not(.next-view),
  .deep2 .reference .show .show {
    width: calc(100% - 32px);
  }
  .deep2 .next-view {
    width: calc(100% - 48px);
    padding: 48px 24px;
  }
}


